# LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.log
*.toc
*.lof
*.lot
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.nav
*.snm
*.vrb
*.bcf
*.run.xml

# Other editor/temp files (optional)
*~
*.swp
.venv/

__pycache__/
*.pyc